@use "@sass/base.scss" as base;

.boost{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: base.$Dark-Violet;
    background-position: center;
    background-size: cover;
    gap: 15px;
    @media(width <= 700px){
        height: 300px;
    }
}

.boost-title{
    color: base.$Light-Purple;
    font-size: base.$h1-size-s;
    @media(width <= 700px){
        font-size: base.$h1-size-xxs;
    }
}