@use "@sass/base.scss" as base;

.intro{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start; 
    gap: 50px;
    padding: 50px 0 50px 150px;
    overflow: hidden;

    @media(width <= 1100px){
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 0 50px 20px;
        gap: 25px;
    }
}

.intro-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 75px 0 0 0;
    @media(width <= 1100px){
        padding: 0 0 0 0;
        align-items: center;
        gap: 10px;
    }
}

.intro-title{
    font-size: base.$h1-size-l;
    color: base.$Very-Dark-Blue;
    max-width: 700px;
    line-height: 70px;
    @media(width <= 1100px){
        max-width: 300px;
        text-align: center;
        font-size: base.$h1-size-s;
        line-height: 45px;
    }
}

.intro-content{
    max-width: 400px;
    font-size: base.$p-size-m;
    color: base.$Grayish-Violet;
    line-height: 25px;
    @media(width <= 1100px){
        max-width: 325px;
        text-align: center;
        font-size: base.$p-size-l;
        line-height: 30px;
    }
}

.get-started-button-div{
    margin: 25px 0 0 0;
    @media(width <= 1100px){
        margin: 20px 0 0 0;
    }
}

.intro-image{
    @media(width <= 1100px){
        width: 350px;
        height: 350px;
    }
}

.intro-image g path{
    @media (width <= 1100px){
        scale: 0.7;
    }
}