@use "@sass/base.scss" as base;

.shorter-link-form{
    position: absolute;
    top: 600px;
    z-index: 0;
    padding: 40px 50px 40px 50px;
    width: fit-content;
    height: 144px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    background-color: base.$Dark-Violet;
    background-position: center;
    background-size: cover;
    @media (width <= 1200px){
        height: 190px;
        top: 730px;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
        gap: 15px;
    }
}

.shorter-link-wrap{
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.shorter-link label{
    display: none;
}

.shorter-link-input{
    width: 850px;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    font-size: base.$p-size-s;
    @media (width <= 1200px) {
        width: 275px;
        padding: 15px 15px 15px 15px;
        font-size: base.$p-size-m;
    }
}

.shorter-link-input::placeholder{
    color: base.$Grayish-Violet;
}

.error-link{
    color: base.$Red;
    font-size: base.$p-size-xs;
}

.shorter-link-button{
    width: 170px;
    color: base.$White;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: base.$Cyan;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color ease 1s;
    font-size: base.$p-size-s;

    @media (width <= 1200px){
        width: 275px;
        padding: 15px 10px 15px 10px;
        font-size: base.$p-size-m;
    }
}

.shorter-link-button:hover{
    background-color: base.$Cyan-Light;
    color: base.$White;
}