@use "@sass/base.scss" as base;

.statistic-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: start;
    justify-content: space-between;
    position: relative;

    @media(width <= 1100px){
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
}

.statistic-list hr{
    position: absolute;
    width: 100%;
    border: 5px solid base.$Cyan;
    top: 160px;
    @media(width <= 1100px){
        width: 0;
        height: 99%;
        top: 0;
    }
}